<!-- WEB SETIE MARKET V2-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device, initial-scale=1.0">
    <title>MDIPvWEB</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible">

</head>

<body>
    <!-- create top var-->
    <div class="main">
        <div class="nav">
            <div class="icon">
                <h1 class="logo">MDIP<span>WEB</span></h1> 
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li> <a href="#">Home</a></li>
                        <li> <a href="#">MDIP</a></li>
                        <li> <a href="#">Servicios</a></li>
                        <li> <a href="#">about</a></li>
                        <li> <a href="#">Mercado</a></li>
                    
                    </ul>
                </nav>
            </div>

            <div class="search">
                <input type="finding" name="" placeholder="Buscar Articulo/Enunciado"> 
                <a href="#" > <button class="btn1"> Buscar </button> </a>

            </div>

           <div class="uname">
            
            <p class="content">
                <p class="othertrace" style="padding:10px ;"> Bienvenido <span>A</span> </p>
                <h1 class="reference"> Mercado <span>Digital</span> Inovador Profesional</h1>
                <br>
                <p class="content"> Este sitio le permite publicar <br> buscar , alojar y obtener <br> referencias directas en su uso personas <br> un sitio especial en  una variedad de vistas y demas <br>
                    <button class="upclient"> <a href="#"> UNIRSE </a> </button>
                <br> <br> </p>
                <img src="/static/img/desing1-back.jpg" style="width:300px; height: 300px;">    
            </p>
           </div>
        </div>
    </div>
    <nav>
        <div>
        </div>
    </nav>
    
</body>
</html>